@import "../materialize/sass/materialize.scss";

body {
    @extend .red, .lighten-3, .blue-grey-text, .text-lighten-5, .valign-wrapper;
    box-sizing: border-box;
    min-height: 100vh;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    @extend .center-align, .red, .darken-4;
    min-height: 95vh;
    width: 95%;
    @media screen and (min-width : 1000px ) {
        width: 800px;
        min-height: 90vh;
        
    }

}

.card-image {
    height:100%;
    width: 100%;

    img {
        object-fit: cover;
        max-height: 100%;
        min-height: 100%;

    }
}

.card-title {
    @extend .truncate;
    background-color: rgba(0,0,0,0.4);
    line-height: 0px;
    font-size: 10px;
    width: 100%;

}


.btn-floating.halfway-fab {
    position: absolute;
    right: -10px;
    top: -10px;
}

#addImg {
    @extend .valign-wrapper;
    width:100%;
    height:100%;

}

.center-align {
    margin: auto;
}

#addImgText {


    padding: none;
    font-size: 17px;

}

.swal2-popup {
    min-width: 60%;
    .swal2-title {
        @extend .grey-text, .text-darken-4;
    }

    .swal2-confirm {
        @extend .grey-text, .text-lighten-4;
    }
   
}


.displayImg {
    object-fit: contain;
    max-width: 85%;
    max-height: 90vh;
}